<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>抵抗画像の入力</title>
  </head>
  <body bgcolor="#FFFFCC">
    <center>
      <h1>Resistor Checker</h1>
      <p>抵抗器の画像をアップロードしてください（推奨：背景白、縦横比1:1写真）</p>
          <form method="post" action="/send" enctype="multipart/form-data">
    　　      <input type="file" id="img_file" name="img_file" class="col-sm-4">
      　　    <input type="submit" value="送信" class="btn">
    　　  </form>
    </center>

    <h3>使い方</h3>
    <p>1. 「ファイルを選択」ボダンを押して、抵抗値の知りたい抵抗画像を選択してください。</p>
    <p>  （画像の例）背景は白で、カラーコード部分に近い画像の方が精度は高いです</p>
    <p><img src="/static/IMG_9349.jpg" alt="抵抗のサンプル写真" width="300" height="300"></p>
    <br>
    <p>2. 送信ボタンを押してください。</p>
    <p>3. 画面が切り替わり、抵抗値が出力されます。</p>
  </body>
</html>
